
.topBar {
    padding: 1.5em;
    background-color: var(--color-topbar);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: background-color 1s ease;
}

.sideBar {
    padding: 2em;
    background-color: var(--color-sidebar);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5em;
    align-items: start;
    transition: background-color 1s ease;
}

.sideBar a {
    font-weight: bold;
    color: var(--color-text);
    text-decoration: none;
    width: 8em;
    padding: 0.5em;
    background-color: var(--color-sidebar);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 1s ease;
}

.sideBar a:hover,
.sideBar a.active {
    background-color: var(--sidebar-buttons-hover);
}

.sideBar a:focus {
    background-color: var(--sidebar-buttons-hover);
}

.titleLink {
    color: var(--color-text);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.usernameLink {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1.2rem;
}

.topBarRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.body {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.content {
    padding: 1em;
    flex: 1;
    overflow: auto;
}