* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root,
[data-theme="light"] {
    --color-error: #d32f2f;
    --color-topbar: #C0C9EE;
    --color-sidebar: #A2AADB;
    --color-bg: #FFF6DE;
    --color-text: #111111;
}

[data-theme="dark"] {
    --color-topbar: #5C3D2E;
    --color-sidebar: #B85C38;
    --color-bg: #2D2424;
    --color-text: #eeeeee;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}
